* {
    font-family: "Lucida Console", Monaco, monospace;
}

body {
    background-color: #100000;
}

body header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #FFAA00;
}

body header h1 {
    font-size: 36px;
}

body main {
    width: 80%;
    margin: 50px auto;
    color: #FFAA00;
}

main h2 {
    text-align: center;
}

.inputContainer {
    margin: 0 auto;
    text-align: center;
}

input {
    margin: 10px auto;
    text-align: center;
    display: block;
    width: 20%;
    height: 300px;
    font-size: 34px;
    border: 1px solid #FFAA00;
    background-color: #100000;
    color: #FFAA00;
}

input:focus {
    outline: 3px solid #FFAA00;
}

div#buttons {
    margin-top: 50px;
}

#attribution {
    font-style: italic;
    float: right;
}

button {
    display: block;
    margin: auto;
    font-size: 24px;
    border: 1px solid #FFAA00;
    background-color: #100000;
    color: #FFAA00;
    outline: #FFAA00;
}

button:focus {
    outline: #FFAA00;
}

img {
    margin: 20px auto;
    width: 200px;
}

a.button {
    margin: 0 auto;
    padding: 5px;
    text-decoration: none;
    color: #FFAA00;
}

a.button:visited {
    color: #AA6600;
}

a.button:hover {
    color: #FFAA00;
}

.hidden {
    display: none;
}

.about p {
    text-align: justify;
}

.rules p {
    text-align: justify;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.rotate {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@media screen and (min-width: 900px) {

    input {
        display: inline-block;
        margin: 0 auto;
        height: 100px;
    }
}